---
- hosts: ufwtarget
  remote_user: {{ getenv "UFW_USER" }}
  become: yes
  tasks:
    - name: Gather local facts
      delegate_to: 127.0.0.1
      setup:
      register: local_facts
    - name: Show
      debug:
        var: local_facts
    - name: Allow traffic to ports from this host
      ufw:
        comment: "{{ "{{ local_facts.ansible_facts.ansible_hostname }}" }}"
        rule: allow
        proto: any
        port: "{{ "{{ item  }}" }}"
        from_ip: "{{ "{{ local_facts.ansible_facts.ansible_default_ipv4.address }}" }}"
      tags: ['ufw']
      when: local_facts.ansible_facts.ansible_default_ipv4 is defined and local_facts.ansible_facts.ansible_default_ipv4.address is defined
      loop: "{{ "{{ lookup('env', 'PORTS').split(',') }}" }}"
    - name: Allow traffic to ports from this host (ipv6)
      ufw:
        comment: "{{ "{{ local_facts.ansible_facts.ansible_hostname }}" }} ipv6"
        rule: allow
        proto: any
        port: "{{ "{{ item }}" }}"
        from_ip: "{{ "{{ local_facts.ansible_facts.ansible_default_ipv6.address }}" }}"
      when: local_facts.ansible_facts.ansible_default_ipv6 is defined and local_facts.ansible_facts.ansible_default_ipv6.address is defined
      loop: "{{ "{{ lookup('env', 'PORTS').split(',') }}" }}"
      tags: ['ufw']
